* {
  font-family: "Roboto", sans-serif;
}
.main {
  margin: auto;
  display: flex;
/* justify-content: center; */
}

input {
  font-size: 15px;
  padding: 3px 6px;
}
.email {
  font-size: 20px;
}
#emailText {
  font-size: 12px;
}
.submit{
    padding: 2px 6px;
    margin-left: 8.5vw;

}
form div{
  padding: 5px;
  margin-left: 8vw;
}
label{
    font-size: 20px;
}
.check{
    font-size: 13px;
}
